body {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  background-color: #000033;
  height: 800px;
}
body > div {
  height: 80%;
  width: 50%;
  margin: calc((800px - 640px)/2) auto;
}
body > div .wrap2 {
  justify-content: space-around;
}
body > div .wrap2 > div {
  margin: 0.1em 12em 0.1em 12em;
}
body > div > div {
  padding: 10px;
  display: flex;
  justify-content: center;
}
body > div > div > .itemon {
  position: relative;
  top: -4em;
  margin: 0 1em 0 1em;
}
body > div > div > .itembottom {
  position: relative;
  margin: 0 1em 0 1em;
  top: 4em;
}
body > div > div .item {
  flex-direction: row;
}
body > div > div .image {
  width: 200px;
  height: 200px;
  margin-top: 1em;
  border: red 3px solid;
}
body > div > div .image:hover {
  width: 210px;
  height: 210px;
  border-radius: 10em;
  transition-duration: 2s;
}
