$color: #122;
$content-clor: red;
$bgc: #636;
$fz: 10px+2px+12px+2px;
$bgc-x: blue;
// 变量的使用,使用$在变量名称之前进行定义，类似于shell脚本语法,变量的定义必须在使用之前，最好都放在所有css代码之前进行设置

// 私有化变量scss文件，用于给其他文件进行导入引用的，一般使用文件名之前加上下划线进行标记，这样文件就不会被编译为css文件了
