    body {
        min-width: 100vw;
        min-height: 100vh;
    }

    body {
        cursor: url(https://www.zhangguangming.cn/images/o_200723013825miku1.png), auto;
    }

    a,
    a:visited {
        cursor: url(https://www.zhangguangming.cn/images/o_200723013830miku2.png), auto;
    }