/* 学习到原则，padding针对于父元素对子元素的距离控制，margin针对于两个同级元素之间的距离控制，设计的时候应该注意的是先去设置外部盒子的大小，然后里面盒子进行居中显示，最后设置每个子元素进行fl，这样就能十分方便的控制位置了，但是前提是你得去算宽高 */

/* 全局样式 */
* {
    padding: 0;
    margin: 0;
}

ol,
ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* 利用继承性来书写默认样式 */
body {
    font: normal 14px/25px '微软雅黑';
    background-color: #fff;
}


/* 公共样式h2 */
h2 {
    font-family: Helvetica;
    font-size: 16px;
    color: #000000;
    margin-bottom: 27px;

    /* 这个地方十分聪明,水平方向上面设置左右边框即可实现效果,垂直方向上面设置div来分割或者设置上下边框进行设置效果也是一样的十分聪明的写法 */
    border-left: 8px solid #00978E;
    padding-left: 6px;
}

/* 顶部显示 */
header .header-top {
    width: 1201px;
    margin: 0 auto;
    /* background-color: antiquewhite; */
    overflow: hidden;
}


/* 为什么这个地方和原型图不一样 */
/* 解决 */
/* logo设计 */
header .header-top .logo {
    width: 192px;
    height: 63px;
    float: left;
    padding-top: 39px;
    /* 忘记设置这个文本水平垂直居中导致了文本好像于右侧tool部分无法对齐的情况出现 */
    background: url(.../images/小慕医生.png) no-repeat center bottom;
    /* 这个地方设置的是为了让位置上面显示为logo，但是搜索引擎还是能抓取到文本，增强了seo */
}

header .header-top .logo h1 {
    font-family: Helvetica;
    font-size: 48px;
    color: #00978E;
    width: 192px;
    height: 63px;
    padding-top: 39px;
    /* 将段首缩进设置为负数是一个巧妙的办法，可以隐藏文字 */
    text-indent: -9999em;


}

/* tool部分设计 */
header .header-top .tool {
    float: right;
    padding-top: 35px;
}


header .header-top .tool .r1 img:first-child {
    width: 32px;
    height: 25px;
    margin-right: 25px;
}

header .header-top .tool .r1 .tel-box {
    width: 158px;
    height: 26px;
    font-family: Helvetica;
    font-size: 20px;
    color: #00978E;
    display: inline-block;
}

header .header-top .tool .r1 .icon {
    width: 24px;
    height: 24px;
    /* margin-top: 35px; */
}

header .header-top .tool .r1 .icon-chinese {
    margin-left: -12px;
}

header .header-top .tool .r2 {
    border: 1px solid #999999;
    width: 266px;
    height: 30px;
    margin-top: 12px;
    border-radius: 3px;

}


header .header-top .tool .r2 input {
    width: 95px;
    height: 21px;
    margin-left: 19px;
    float: left;
    margin-top: 5px;
    border: none;
    /* 取消鼠标点击的时候显示外围线效果 */
    outline: none;
}


header .header-top .tool .r2 img {
    width: 20px;
    height: 20px;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    /* 取消背景 */
    background: none;
    /* 设置鼠标触碰的时候小手状态  */
    cursor: pointer;
}

/* 导航栏部分 */

header nav {
    width: 100%;
    height: 60px;
    background: #00978E;
    margin-top: 33px;
}

header nav ul {
    width: 1200px;
    height: 60px;
    margin: 0 auto;
}

header nav ul li {
    float: left;
    width: 150px;
    height: 60px;
    text-align: center;
    line-height: 60px;


}

header nav ul li:hover {
    background: #015E58;

}

header nav ul li a {
    font-family: Helvetica;
    font-size: 16px;
    color: #FFFFFF;
    /* 一直没有注意的点，需要理解记忆一下 */
    display: block;
    /* 这个地方之所以对a标签上设置宽高的主要原因就是让a标签的范围变大，方便用户的点击 */
}

/* banner区域 */
aside {
    position: relative;
}

aside a img {
    width: 100%;
    height: 570px;
}

aside .banxin {
    width: 1200px;
    height: 300px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -150px;
    margin-left: -600px;
    /* background-color: blueviolet; */
    /* position: relative; */
}

aside .banxin .fangxiang {
    position: absolute;
    width: 64px;
    height: 56px;
    background-color: rgb(0, 0, 0, .5);
    top: 50%;
    margin-top: -28px;
    color: seashell;
    text-align: center;
    line-height: 56px;
    border-radius: 10px;
}

aside .banxin .next {
    right: 0;
}

aside .banxin h1 {
    font-family: Helvetica;
    font-size: 60px;
    color: #015E58;
    position: absolute;
    top: 0;
    left: 148px;
}


aside ol {
    width: 120px;
    height: 12px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    margin-left: -55px;
    /* background-color: sienna; */
}

aside ol li {
    width: 20px;
    height: 12px;
    background: #FFFFFF;
    float: left;
    margin-right: 10px;
}

aside ol li:first-child {
    width: 30px;
    background: #00978E;
}

aside ol li:last-child {
    /* 最后一个不要设置margin就可以使你的数据更加准确了 */
    margin-right: 0;
}

/* main部分 */

/* 医院的链接部分 */
main .userful-link {
    overflow: hidden;
    margin-bottom: 56px;
}


main .userful-link ul {
    width: 960px;
    height: 150px;
    /* background-color: springgreen; */
    margin: 0 auto;
}

main .userful-link ul li {
    float: left;
    margin-right: 54px;
}

main .userful-link ul li h3 {
    display: block;
    text-align: center;
    margin-top: 15.7px;
    font-family: Helvetica;
    font-size: 20px;
    color: #000000;
}

/* news-and-notice部分 */
main .news-and-notice {
    width: 1260px;
    /* 这个地方的高度可以不设置 */
    height: 360px;
    /* background-color: springgreen; */
    margin: 0 auto;
    /* overflow: hidden; */
}



main .news-and-notice .notice,
main .news-and-notice ul {
    width: 380px;
    height: 360px;
    float: left;
    /* 这个地方按理说应该是独立的个体，为什么会影响到上面呢？ */
    /* 解决:因为这个地方没有针对性到内部的ul,我以为直接写到了,但是一定写清楚 */
    margin-right: 40px;
}




main .news-and-notice .notice .img-box {
    position: relative;
    width: 422px;
    height: 328px;

}

main .news-and-notice .notice .img-box span {
    display: block;
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    text-align: center;
    line-height: 40px;
    font-family: Helvetica;
    font-size: 14px;
    color: #FFFFFF;
    background: rgba(8, 8, 8, 0.40);
}

main .news-and-notice .news img {
    width: 422px;
    height: 328px;
}

/* 第二部分 */

main .news-and-notice ul {
    text-align: center;
    line-height: 45px;
    /* background-color: tomato; */
    padding-top: 48px;
}

main .news-and-notice ul a {
    float: left;
    margin-left: 20px;
}

main .news-and-notice ul span {
    float: right;
}

/* 第三部分 */

/* 这个地方的思想：首先通过设置每个单个个体，然后直接fl，发现出现了出问题，然后利用每个个体互相不影响的情况的oh一下，这样就能很好的设置单个个体的情况 */

main .news-and-notice .notice-two ol li span {
    display: block;
    width: 53px;
    height: 57px;
    background: #00978E;
    font-family: Helvetica;
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
    line-height: 57px;
}

main .news-and-notice .notice-two ol li {
    overflow: hidden;
    margin-bottom: 14px;
}

main .news-and-notice .notice-two ol li dl {
    margin-left: 16px;
}

main .news-and-notice .notice-two ol li span,
main .news-and-notice .notice-two ol li dl {
    float: left;
}

/* 广告图片部分 */

main .ad-imgs {
    width: 1260px;
    height: 168px;
    margin: 28px auto;
    /* margin-bottom: 0; */

}

main .ad-imgs img {
    width: 1260px;
    height: 168px;
}

/* 科室介绍部分 */

/* 这个地方学会了微调的重要性，有的时候不能按照数据进行死板的计算，要灵活一点，按照浏览器的微调来设置最终适合的数值 */

main .dep-info {
    width: 100%;
    height: 400px;
    /* background-color: thistle; */
    background: #FAFAFA;
}

main .dep-info .center {
    width: 1260px;
    height: 400px;
    margin: 0 auto;
    padding-top: 36.3px;
    position: relative;
    /* background-color: yellow; */
}

main .dep-info .center .exp {
    font-family: Helvetica;
    font-size: 16px;
    color: #000000;
}

main .dep-info .center .more {
    position: absolute;
    top: 36.3px;
    right: 0;
}

main .dep-info .center ul {
    width: 270px;
    float: left;
    margin-left: 40px;
}

main .dep-info .center ul h3 {
    text-align: center;
    margin-bottom: 18px;
    position: relative;
}

main .dep-info .center ul h3::before {
    content: '';
    position: absolute;
    border: 1px solid #00978E;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
    width: 40px;
    top: 13px;
    left: 66px;
}

main .dep-info .center ul h3::after {
    content: '';
    position: absolute;
    border: 1px solid #00978E;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.15);
    width: 40px;
    top: 13px;
    right: 66px;
}

main .dep-info .center ul li {
    width: 121px;
    height: 36px;
    float: left;
    text-align: center;
    line-height: 36px;
    border: 1px solid #000;
    margin-right: 21px;
    margin-bottom: 16px;
    background: #FFFFFF;
    border: 1px solid #AAA9A9;
    border-radius: 5%;
}

main .dep-info .center ul li:hover {
    font-family: Helvetica;
    font-size: 14px;
    color: #00978E;
    display: block;
    background-color: thistle;
}

main .dep-info .center ul li:nth-child(2n+1) {
    margin-right: 0;
}

/* 专家介绍部分 */

main .exp-info {
    width: 100%;
    height: 600px;
    /* background-color: aqua; */
    /* background: #FFFFFF; */
    overflow: hidden;
}

main .exp-info .exp-center {
    width: 1260px;
    height: 600px;
    margin: 0 auto;
    /* background-color: bisque; */
    padding-top: 60px;
    position: relative;
}

main .exp-info .exp-center h2 {
    font-family: Helvetica;
    font-size: 16px;
    color: #000000;
}

main .exp-info .exp-center .exp-more {
    position: absolute;
    top: 60px;
    right: 0;
    font-family: Helvetica;
    font-size: 14px;
    color: #999999;
}

main .exp-info .exp-center ul li {
    width: 405px;
    height: 190px;
    /* border: 1px solid #000; */
    float: left;
    margin-right: 13px;
    margin-top: 55px;
}

main .exp-info .exp-center ul li div img {
    width: 152px;
    height: 190px;
    float: left;
}

main .exp-info .exp-center ul li div.wenben {
    width: 220px;
    height: 190px;
    /* background-color: plum; */
    float: left;
    margin-left: 13.5px;
    line-height: 28px;

}

/* 页脚部分 */

footer .friend-links {
    width: 100%;
    height: 500px;
    background: #FAFAFA;
}

footer .friend-links .friend-links-center {
    width: 1260px;
    height: 400px;
    /* background-color: powderblue; */
    margin: 0 auto;
    padding-top: 67px;
}

/* 友情链接部分 */

/* 这个地方的书写有点问题，按理说一个ul即可，即你要设置每个li的正好能容纳它包含的内容这就也能实现这个布局，尽量使用html传统布局 */

footer .friend-links .friend-links-center h2 {
    font-family: Helvetica;
    font-size: 20px;
    color: #000000;
    margin: 20px 0;
    border: none;
}

footer .friend-links .friend-links-center .ul-one {
    width: 1048px;
    height: 21px;
    margin: 0 auto;
    /* background-color: purple; */
    overflow: hidden;

}

footer .friend-links .friend-links-center .ul-one li {
    float: left;
    /* background-color: red; */
    margin-right: 100px;
    font-family: Helvetica;
    font-size: 16px;
    color: #000000;
}

/* 小陈联系方式部分 */
footer .friend-links .friend-links-center .address .ul-two {
    width: 1210px;
    /* background-color: #00978E; */
    /* border: 1px solid #000; */
    overflow: hidden;
}

footer .friend-links .friend-links-center .address .ul-two li {
    width: 370px;
    height: 24px;
    /* background-color: #00978E; */
    margin-left: 33px;
    margin-bottom: 20px;
    float: left;
    font-family: Helvetica;
    font-size: 16px;
    color: #000000;
    line-height: 24px;
    /* background-color: #FAFAFA; */
    /* border: 1px solid #000; */
}